.container {
    width: 100vw;
    background-color: #ddd;
    color: #333;
    overflow: auto;
}

.turns {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.turn {
    padding: 0 15px;
    opacity: 0.5;
}

.turn {
    border-right: 1px solid #bbb;
    font-size: 14px;
}

.turn.isActive {
    opacity: 1;
    font-size: 16px;
}

.turn .player {
    font-size: 14px;
}

.turn .pieceColor {
    font-size: 12px;
}

.turn.isActive .player {
    font-size: 16px;
}

.turn.isActive .pieceColor {
    font-size: 14px;
}

.turn .player .color {
    width: 10px;
    height: 10px;
}

.turn.isActive .player .color {
    width: 12px;
    height: 12px;
}

.turn .pieceColor .color {
    width: 8px;
    height: 8px;
}

.turn.isActive .pieceColor .color {
    width: 10px;
    height: 10px;
}

.player {
    white-space: nowrap;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.player .color {
    margin-right: 5px;
    border-radius: 4px;
    border: 1px solid #333;
}

.player.player1 .color {
    background-color: blue;
}

.player.player2 .color {
    background-color: red;
}

.pieceColor {
    display: flex;
    align-items: center;
}

.pieceColor .color {
    margin-right: 5px;
    border-radius: 3px;
}

.pieceColor.colorW .color {
    border: 1px solid #333;
    background-color: #fff;
}

.pieceColor.colorB .color {
    border: 1px solid #333;
    background-color: #333;
}
