.container {
    font-weight: bold;
    text-align: center;
    padding: 2px 0 5px;
}

.container a {
    color: #ffffffcc;
    font-weight: bold;
    font-family: "Rock 3D", serif;
    text-decoration: none;
    font-size: 30px;
}
