.container {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    text-align: center;
    background-color: var(--dark-primary-color);
    padding: 10px;
    margin: 40px 0 40px;
    color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: "Rock 3D", serif;
    font-size: 40px;
    font-weight: 700;
}

.yourNameContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.yourName {
    font-size: 16px;
    margin-right: 10px;
}

.editName {
    opacity: 0.7;
}

.content {
}

.players {
    overflow: auto;
}

.player {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
}
