.container {
    display: flex;
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    border-radius: min(0.75vh, 0.75vw);
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    flex-direction: column-reverse;
    overflow: hidden;
}

.row {
    display: flex;
    flex: 1;
}
