.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.isSquareWhite {
    background-color: var(--chess-square-light-color);
}

.isSquareBlack {
    background-color: var(--chess-square-dark-color);
}

.isSquareWhite.isHighlighted,
.isSquareBlack.isHighlighted {
    background-color: var(--chess-square-highlight-color);
}

.fileLabel,
.rankLabel {
    font-weight: 700;
    position: absolute;
}

.isSquareWhite .fileLabel,
.isSquareWhite .rankLabel {
    color: var(--chess-square-dark-color);
}

.isSquareBlack .fileLabel,
.isSquareBlack .rankLabel {
    color: var(--chess-square-light-color);
}

.fileLabel {
    top: 0;
    left: 0;
}

.rankLabel {
    bottom: 0;
    right: 0;
}

.hoverCircle {
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    background-color: #00000033;
}

.possibleMove {
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    background-color: #00000033;
}

.possibleMoveOccupied {
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #00000033;
    box-sizing: border-box;
}
